<!DOCTYPE html>
<html>
	<head>
		<title>GameBlog</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container-fluid navbar-default" style="color: white; background-color: #437BA8;"> 
			<h1>Game Title</h1>
			<nav class="navbar" style="margin-bottom: 0;">
			    <div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span> 
					</button>
					<!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
			      <ul class="nav navbar-nav" style="margin-top: 16px;">
			        <li><%= link_to 'Home', root_path, style:"padding: 3px 16px; margin: 0 8px;" %></li>
			        <li><%= link_to 'Blog', blogs_path, style:"padding: 3px 16px; margin: 0 8px;" %></li>
			        <li><a href="#" style="padding: 3px 16px; margin: 0 8px;">Highscores</a></li> 
			        <li><%= link_to 'FAQs', faqs_path, style:"padding: 3px 16px; margin: 0 8px;" %></li> 
			      </ul>
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#" style="padding: 3px 16px;"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
			        <li><a href="#" style="padding: 3px 16px;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			      </ul>
			    </div>
			</nav>
		</div>
		<nav class="navbar">
			<div class="container-fluid" style="background-color: #305979;">
				<% if current_page? root_path %>
					<ul class="nav nav-tabs">
						<li><a href="#topNews" role="button" class="btn" style="padding: 3px 16px;">Top News</a></li>
						<li><a href="#trailer" role="button" class="btn" style="padding: 3px 16px;">Trailer</a></li>
						<li><a href="#steam" role="button" class="btn" style="padding: 3px 16px;">Steam</a></li>
						<li><a href="#gameSummary" role="button" class="btn" style="padding: 3px 16px;">Game Summary</a></li>
					</ul>
					<div style="padding: 5px 0; background-color: #034678;">
						<h4 style="text-align: center; margin: 0;"><strong>Home Page</strong></h4>
					</div>
				<% end %>
				<% if current_page? blogs_path %>
					<ul class="nav nav-tabs">
						<li><a href="#newestPost" role="button" class="btn" style="padding: 3px 16px;">Newest Post</a></li>
						<li><a href="#" role="button" class="btn" style="padding: 3px 16px;">Contact Us</a></li>
						
						<li><a href="#postContent" role="button" class="btn" style="padding: 3px 16px;">Post Content</a></li>
						<li><a href="#commnets" role="button" class="btn" style="padding: 3px 16px;">Comments</a></li>
						<li><a href="#addAComment" role="button" class="btn" style="padding: 3px 16px;">Add a Comment</a></li>
						<li><a href="#" role="button" class="btn" style="padding: 3px 16px;">Contact Us</a></li>
					</ul>
					<div style="padding: 5px 0; background-color: #034678;">
						<h4 style="text-align: center; margin: 0;"><strong>Blog</strong></h4>
					</div>
				<% end %>
			</div>
		</nav>
		<div class="container">

			<%= yield %>

		</div>
	</body>
</html>
